# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
*.tar.gz
oclint-0.10.3/
oclint.log
*.autosave
*.pro.user.*
ui_*
release/
Makefile
Makefile.*
kewe_gui
kewe_test
pbd_gui
ribi_gui
debug/
golden_output
defaultresults
Makefile
release/
debug/
Makefile.*
defaultresults
golden_output
kewe_test
ltt.csv
test_kewe_simulation.csv
ui_*
kewe_gui
ribi_gui
pbd_gui
webpage/
out.info
test_parameters_*
test_ribi_parameters_save_and_load
test_ribi_menu_dialog_execute_run.txt
ribi_test
test_parameters_1.dot
test_parameters_1.png
test_parameters_1.svg
test_parameters_1_bs.svg
test_parameters_1_bs.dot
test_parameters_1_bs.png
test_ribi_menu_dialog_execute_run.txt
out.info
ribi_test
test_ribi_parameters_save_and_load
Histogram.csv
ecotype.csv
lyke_test
cine
lyke
jobo
jobo abcdef,2,6,0.5,10,38
kewe
gprof.log
defaultlttplot
sado
output.txt
article.txt
eco_traits.csv
eco_traits.png
fem_prefs.png
fem_prefs.csv
male_traits.png
male_traits.csv
*.pro.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig
